<% moderator = @sub.moderator %>

<h1><%= @sub.title %></h1>
<p>Moderator: <a href="<%= user_url(moderator) %>"><%= moderator.username %></a></p>
<p><%= @sub.description %></p>

<a href="<%= new_sub_post_url(@sub) %>">Create a new post</a>
<ul>
  <% @sub.posts.each do |post| %>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
  <% end %>
</ul>