<a href="<%= sub_url(@post.sub) %>">/r/<%= @post.sub.title %></a> | <p>posted by <%= @post.author.username %></p>

<h1><%= @post.title %></h1>
<li>URL: <%= @post.url %></li>
<li>Content: <%= @post.content %></li>