<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <script src="https://kit.fontawesome.com/6111c8d6d3.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    </style>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>