<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="reset.css">
    <%= stylesheet_link_tag "application" %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    </style>
  </head>

  <body>
    <%= render 'shared/flash' %>
    <%= render 'shared/header' %>
    <main>
      <div class="main-column">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
